@import "tailwindcss";

:root {
  --background: #f9ffe3;
  --foreground: #014421;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-frama);
  --font-heading: var(--font-druk);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "PP Frama", sans-serif;
}

/* ─── Lenis smooth scroll ────────────────────────────────────────────────────── */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
