.preloader-overlay {
  position: fixed;
  height: 100svh;
  width: 100vw;
  background-color: var(--foreground);
  color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  will-change: clip-path;
  z-index: 2;
}

.preloader-overlay .text-block {
  position: relative;
  display: flex;
  gap: 2rem;
  align-items: flex-end;
}

.preloader-overlay .heading {
  font-family: var(--font-heading);
  font-size: 39vw;
  line-height: 0.835;
  /* margin-bottom: calc(1em * 0.1 * -1); */
  overflow: hidden;
  height: 0.765em;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  will-change: clip-path, transform;
}

.preloader-overlay .meta-block {
  position: absolute;
  /* left: 50.5%; */
  /* right: 23%; */
  right: -28%;
  font-size: 1.5vw;
  line-height: 1.3;
}

.heading .char,
.meta-block .line {
  transform: translateY(100%);
  will-change: transform;
}

@media (max-width: 1000px) {
  .preloader-overlay .heading {
    font-size: 65vw;
  }

  .preloader-overlay .meta-block {
    font-size: clamp(1rem, 4.4vw, 1.75rem);
    line-height: 1.2;
    right: unset;
    bottom: -350%;
  }
}
